.button2 {
	background: red repeat-x top center;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	padding: 5px;
	color: white;
	font-weight: bold;
	-webkit-border-radius: 5px;
	font-size: 13px;
	width: 80px;
	opacity: .6;
}

.button2:hover {
	background: white;
	color: blue;
}

.button2:active {
	background: white;
	color: red;
}