    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size:15px;
        color:#333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
    table.imagetable th {
        background:#b5cfd2 url(${pageContext.request.contextPath}/resources/images/cell-blue.jpg);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
 
    }
    table.imagetable td {
        background:#dcddc0 url(${pageContext.request.contextPath}/resources/images/cell-grey.jpg);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;

    }

